<ion-view view-title="Survay">
    <ion-pane>
        <ion-content scroll="false">
            <section class="home-container">
                <div class="row header">
                    <div class="col text-center">
                        [LOGO / HEADER] - {{language}}
                    </div>
                </div>
                <!--<div class="row icon-row" ng-repeat="language in languages" ng-if="$index % 2 == 0">
                    <div class="col" href="#/app/login">
                        <img class="title-image" ng-src="http://www.diegofiore.com/assets/flags/{{languages[$index].name}}.svg" alt="" />
                        <span class="title-text">{{languages[$index].original}}</span>
                    </div>
                    <div class="col" href="#/app/login">
                        <img class="title-image" ng-src="http://www.diegofiore.com/assets/flags/{{languages[$index + 1].name}}.svg" alt="" />
                        <span class="title-text">{{languages[$index + 1].original}}</span>
                    </div>
                </div>-->
            </section>
        </ion-content>
    </ion-pane>
</ion-view>

