$colour-derek-shepherd: #FFFFFF;
$colour-meredith-gray: #1ABC9C;
$colour-richard-webber: #000000;

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .row {
        flex: 1;
    }

    .row {
        padding: 0;
        margin: 0;

        .col {
            height: 100%;

            .option-link {
                color: $colour-richard-webber;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                text-decoration: none;

                &.-disabled {
                    pointer-events: none;
                    cursor: default;
                    opacity: 0.2;
                }

                .option-image {
                    height: 50%;
                    width: 100%;
                }

                .option-text {
                    height: 50%;
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }

    .header {
        flex: 0.5 !important;
        align-items: center;
        justify-content: center;
        background-color: $colour-meredith-gray;
        color: $colour-derek-shepherd;

        .header-title {
            font-size: 24px;
        }
    }

    .icon-row {
        align-items: center;
    }
}
